<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
  <div id="main">
    <div class="message-box">Noone's Connected Except You <span>!</span></div>
    <div class="guest-score">
      <div class="logo"></div>
      <div class="TEAM-Name">eleph</div>
      <div class="score">0</div>
      <div class="starDiv">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
    </div>
    <div class="grid">
    </div>
    <div class="allboxes">
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
        <button class="box"></button>
    </div>
    <div class="my-score">
      <div class="logo">
      </div>
      <div class="TEAM-Name">sheru</div>
      <div class="score">0</div>
      <div class="starDiv">
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
        <i class="ri-star-fill"></i>
      </div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>
</html>